<body>
<h1 id="topic">Vehicle Club</h1>
<div class="TopButton" id="lowerleft">
    <button type="button" class="btn btn-secondary"(click)="goToPage('import')" target="_blank">Import</button>
    
    <button type="button" class="btn btn-secondary"(click)="goToPage('export')" target="_blank">Export</button>
   
</div>   
<div id="centerText">
  <h2>Welcome to Vehicle Club</h2>
     <pre></pre>
    <p>Find the details from here</p>
</div> 

<button type="button" class="btn btn-primary"(click)="goToPage('detail')" target="_blank">Details</button>
</body>    

